body {
  font-family: 'JetBrains Mono', monospace;
  background: linear-gradient(to bottom right, #000000, #0f1738);
  text-align: center;
  padding: 20px;
  color: white;
}

h1 {
  font-size: 2em;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.reset {
  background: #424c68;
  border: none;
  color: white;
  border-radius: 8px;
  padding: 7px 14px;
  cursor: pointer;
  font-size: 14px;
  transition: 1s;
}

.reset:hover {
  background: #363232;
}

#counter {
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 2px #00000066;
  font-size: 15px;
}

#list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.item {
  background: white;
  color: black;
  border-radius: 10px;
  padding: 12px 18px;
  text-align: left;
  box-shadow: 0 3px 5px rgba(0,0,0,0.1);
  transition: all 0.2s ease;
  cursor: pointer;
  position: relative;
}

.item:hover {
  transform: scale(1.01);
  background-color: #f5f5f5;
}

.item.copied {
  background: #e8ffe8;
  opacity: 0.9;
}

.item::after {
  content: "✅ Đã copy!";
  position: center;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  color: green;
  font-size: 13px;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.item.copied::after {
  opacity: 1;
}
